@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    font-size: 18px;
    line-height: 1.2;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: Roboto, sans-serif
}

video {
    display: block;
}

#fun {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("1-Mega biodiverse/pexels-tirachard-kumtanom-112571-584302.jpg");
    background-size: cover;
    background-position: center;
    border-bottom-style: dashed;
    border-bottom: 200px;
}

#facts img {
    margin-top: 200px;
    width: 700px;
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    border-style: solid;
    border-width: 10px;
}

#problems {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("6-Human Activity/pexels-catherinesheila-2409022.jpg");
    background-position: center;
    background-size: cover;
}

#negative img {
    margin-top: 200px;
    width: 700px;
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    border-style: solid;
    border-width: 10px;
}

#assist {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("7-Do Not Litter/pexels-mrwandart-2827735.jpg");
    background-position: center;
    background-size: cover;
}

#help img {
    margin-top: 200px;
    width: 700px;
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    border-style: solid;
    border-width: 10px;
}

#diversetext, #fishtext, #coraltext, #overfishtext, #invasivetext, #humantext, #littertext, #assisttext, #environmenttext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Roboto;
    color: white;
    font-weight: bold;
    font-size: 2.3rem;
    border: solid;
    background-color: black;
    max-width: 50%;
    margin-left: 450px;
}


#fun, #problems, #assist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#facts, #negative, #help {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#facts p, #negative p, #help p {
    margin: 0;
}

.hovertext, .hovertext li {
    cursor: pointer;
    list-style-type: none;
    text-align: center;
    margin: 10px 0;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    border: solid;
    background-color: rgb(63, 63, 63);
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.hovertext:hover {
    transform: scale(1.2);
}

.content {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: center;
}

.hovertext:hover + .content,
.hovertext:hover + img + .content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

#sources {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: darkolivegreen;
}

#sourcelist {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
@media (max-width: 575.98px) {
    :root {
        font-size: 16px;
    }

    #facts img, #negative img, #help img {
        width: 100%;
        margin-top: 100px;
    }

    #diversetext, #fishtext, #coraltext, #overfishtext, #invasivetext, #humantext, #littertext, #assisttext, #environmenttext {
        max-width: 90%;
        margin: 10px auto;
        font-size: 1.5rem;
    }

    .content {
        max-width: 90%;
        padding: 10px;
    }
}


@media (max-width: 768px) {
    :root {
        font-size: 16px;
    }

    #facts img, #negative img, #help img {
        width: 90%;
        margin-top: 100px;
    }

    #diversetext, #fishtext, #coraltext, #overfishtext, #invasivetext, #humantext, #littertext, #assisttext, #environmenttext {
        max-width: 80%;
        margin: 10px auto;
        font-size: 1.6rem;
    }

    .content {
        max-width: 80%;
        padding: 15px;
    }
}

@media (max-width: 992px) {
    :root {
        font-size: 17px;
    }

    #facts img, #negative img, #help img {
        width: 80%;
        margin-top: 150px;
    }

    #diversetext, #fishtext, #coraltext, #overfishtext, #invasivetext, #humantext, #littertext, #assisttext, #environmenttext {
        max-width: 70%;
        margin: 15px auto;
        font-size: 1.7rem;
    }

    .content {
        max-width: 70%;
        padding: 20px;
    }
}

@media (max-width: 1200px) {
    :root {
        font-size: 18px;
    }

    #facts img, #negative img, #help img {
        width: 70%;
        margin-top: 200px;
    }

    #diversetext, #fishtext, #coraltext, #overfishtext, #invasivetext, #humantext, #littertext, #assisttext, #environmenttext {
        max-width: 60%;
        margin: 20px auto;
        font-size: 1.8rem;
    }

    .content {
        max-width: 60%;
        padding: 25px;
    }
}

@media (max-width: 1400px) {
    :root {
        font-size: 18px;
    }

    #facts img, #negative img, #help img {
        width: 60%;
        margin-top: 200px;
    }

    #diversetext, #fishtext, #coraltext, #overfishtext, #invasivetext, #humantext, #littertext, #assisttext, #environmenttext {
        max-width: 50%;
        margin: 20px auto;
        font-size: 2rem;
    }

    .content {
        max-width: 50%;
        padding: 30px;
    }
}